@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  padding: 15px 30px;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  padding: 11px 18px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

.Logo-header {
  width: 160px;
  height: auto;
  display: block;
  position: absolute;
  left: 150px;
  top: 15px;
}

#first-page {
  background-image: url("./img/bg-img.jpg");
  background-size: cover;
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#first-page h4 {
  padding-bottom: 15px;
}

#first-page h1 {
  color: #088178;
}

#first-page button {
  background-image: url("img/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

.feature-p1 {
  text-align: center;
  padding: 40px 40px;
  flex-direction: row;
  display: flex;
  gap: 70px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.fe-box {
  background-color: #f9f6ee;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 140px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.fe-box h6 {
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  font-weight: 600;
}

.h61 {
  background-color: #ffddc1;
  color: #e63946;
}
.h62 {
  background-color: #c1ffd7;
  color: #1d3557;
}
.h63 {
  background-color: #fffac1;
  color: #2a9d8f;
}
.h64 {
  background-color: #e5c1ff;
  color: #9d4edd;
}
.h65 {
  background-color: #c1e1ff;
  color: #457b9d;
}
.h66 {
  background-color: #ffd6c1;
  color: #6d6875;
}

.fe-box:hover {
  transform: scale(1.1);
}

.fe-box img {
  width: auto;
  height: 60px;
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0px;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

#product1 .pro img.shirt {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 54px rgba(28, 77, 161, 0.06);
  transform: scale(1.08);
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 12px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("./img/banner/b2.jpg");
  background-size: cover;
  background-position: center;
  padding: 70px;
  position: relative;
}

.banner-content {
  color: white;
}

.banner-content .small-text {
  font-size: 14px;
  margin-bottom: 8px;
  opacity: 0.9;
}

#banner h4 {
  color: #fff;
  font-size: 20px;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  top: 40px;
}

#banner h2 {
  color: #fff;
  font-size: 25px;
  margin: 0;
  text-align: center;
}

#banner h2 span {
  color: #ef3636;
}

#banner button {
  background-color: #088178;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#banner .normal:hover {
  background-color: #088178;
  color: #fff;
}


.deals {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 70px;
  position: relative;
}

#crazy-deals {
  background-image: url("./img/banner/b17.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 35%;
  height: 400px;
  padding: 20px 10px;
  margin-left: 5rem;
  margin-bottom: 50px;
}

#crazy-deals h5,
h3 {
  color: #fff;
  font-size: 20px;
  margin: 0;
  text-align: left;
  margin-bottom: 15px;
}

#deals-crazy {
  position: relative;
  top: 6rem;
  margin-left: 30px;
}

#deals-crazy p {
  color: #fff;
  font-size: 12px;
  margin: 0;
  text-align: left;
  margin-bottom: 20px;
}

#deals-crazy h3 {
  color: #fff;
  font-size: 30px;
  margin: 0;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}

#deals-crazy h5 {
  color: #fff;
  font-size: 20px;
  margin: 0;
  text-align: left;
  font-weight: lighter;
}

.Upcoming-season {
  background-image: url("./img/banner/b10.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  padding: 20px 10px;
  margin-left: 5rem;
  margin-bottom: 50px;
  position: relative;
  left: 45rem;
  bottom: 11.2rem;
}

.Upcoming-season h5 {
  color: #fff;
  font-weight: lighter;
  font-size: 10px;
  margin: 0;
  text-align: left;
  margin-bottom: 15px;
}

.season {
  position: relative;
  top: 6rem;
  left: 2rem;
}

.season p {
  color: white;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-image: url("./img/banner/b17.jpg");
  min-width: 600px;
  height: 50vh;
  background-size:cover;
  background-position: center;
  padding: 30px;
  margin: 0 25px;
}

#sm-banner .banner-box2 {
  background-image: url("./img/banner/b10.jpg");
}

#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-image: url("./img/banner/b7.jpg");
  min-width: 30%;
  height: 30vh;
  background-size:cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box2 {
  background-image: url("./img/banner/b4.jpg");
}

#banner3 .banner-box3 {
  background-image: url("./img/banner/b18.jpg");
}

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("./img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  width: 160px;
  height: auto;
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .follow h4 {
  padding-bottom: 10px;
}

footer .install .row img{
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
  cursor: pointer; 
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

/* Shop.html */

#banner-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("./img/banner/b1.jpg");
  background-size: cover;
  background-position: center;
  padding: 115px;
  position: relative;
}

#banner-shop h4 {
  color: #fff;
  font-size: 40px;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  top: 80px;
}

#banner-shop h2 {
  color: #fff;
  font-size: 15px;
  margin: 0;
  font-weight: 100;
  text-align: center;
  position: relative;
  bottom: 10px;
}

/* pagenation code */

    .pagination {
            display: flex;
            gap: 8px;
            justify-content: center;

        }

        .page-btn {
            width: 40px;
            height: 40px;
            background-color: #007B5E;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 12px;
            font-weight: bold;
            transition: all 0.3s ease;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .page-btn:hover {
            background-color: #00644C;
            transform: translateY(-2px);
        }

        .page-btn.active {
            background-color: #005A43;
        }

        .page-btn.next {
            width: 40px;
            height: 40px;
            background-color: #007B5E;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            transition: all 0.3s ease;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .page-btn.next:hover {
            background-color: #00644C;
            transform: translateY(-2px);
        }
